@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
*{
        padding: 0;
        margin: 0;
        outline: none;
        font-family: 'Lobster Two',sans-serif cursive;
        font-weight: 500px;
        font-size: 22px;
}
body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #4B0082;
}   
input[type = button]{
    height: 50px;
    width: 100px;
    transition: ease 0.2s;
    cursor: pointer;
}
div#calculadora{
    box-shadow: 0px 0px 20px black;
}
div#calculadora div{
    display: flex;
}

input[type = text]{
    width: calc(100% - 4px);
    height: 40px;
}

input{
    border: none;
    margin: 2px;
    border-radius: 3px;
}
div#quarta input:nth-child(1){
    background: #DC143C;
}
div#quarta input:nth-child(1),div#calculadora{
    border-bottom-left-radius: 35px;
}
div#quarta input:nth-child(3){
    background: #1E90FF ;
}
div#quarta input:nth-child(4),div#calculadora{
    border-bottom-right-radius: 35px;
}
div#calculadora div input:nth-child(4){
    background:#b4b4b4;   
}
input[type=button]:hover{
    filter: brightness(50%);
}
input[type=button]:active{
    transform: scale(0.9);
}